.container{
    height: "auto";
    margin: 0 20%;

    @media (max-width: $mantine-breakpoint-xl) {
        margin: 2% 5%;
        flex-direction: column;
    }

    @media (max-width: $mantine-breakpoint-lg) {
        margin: 2%;
    }
    @media (max-width: $mantine-breakpoint-xs) {
        margin: 2%;
    }
}

.leftSection{
    width: 40%;
     @media (max-width: $mantine-breakpoint-xl) {
        width: 100%;
    }

}

.center{
    width: 100%;
}
.rightSection{
    width: 40%;
      @media (max-width: $mantine-breakpoint-xl) {
        width: 100%;
    }
}