.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1.3fr);
  gap: var(--mantine-spacing-xl);

  @media (max-width: $mantine-breakpoint-sm) {
    grid-template-columns: 1fr;
  }
}

.banner {
  height: 100%;
}
